@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base font size */
html {
  font-size: 18px;
}

body {
  @apply bg-gencastBackground;
}

/* Small screens (<1280px) */
@media (max-width: 1279px) {
  html {
    font-size: 16px;
  }
}

@font-face {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

/* Global paragraph styles */
@layer base {
  p {
    padding-bottom: 1rem; 
    line-height: 1.75; 
  }

  li {
    padding-bottom: 1rem; 
    line-height: 1.75; 
  }
}

